{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ range .Pages }}
    <div class="post">
      <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <div class="post-meta">
        <span class="post-timestamp">{{ .Date.Format "2006-01-02" }}</span>
        {{ with .Params.tags }}
          <span class="post-labels">
            标签：
            {{ range . }}
              <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          </span>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
